.p-datatable .p-datatable-tbody > tr.zebrado:nth-child(even) {
  background-color: var(--surface-d);
}
.animate-fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
